fs         ansible_ssh_host=office.rc-online.ru  ansible_ssh_port=23022  ansible_ssh_user=developer  ansible_become_pass=lhsy4f  niffler_branch=test
niffler    ansible_ssh_host=pro.rc-online.ru     ansible_ssh_port=22124  ansible_ssh_user=developer                              niffler_branch=master
