#!/usr/bin/env bash
set -e


PARENT_DIR="{{ _deploy_root }}"
VENV="{{ _venv_root }}"
CONFIG_PATH="{{ _config_path }}"

SRC_DIR="${PARENT_DIR}/src"
ALEMBIC_WORKING_DIR="${SRC_DIR}/core/db"
ALEMBIC_DIR="${PARENT_DIR}/src/core/db/alembic"
ALEMBIC_CONFIG="${PARENT_DIR}/src/core/db/alembic.ini"
DATABASE_URL="{{ _database_url }}"

# change current working directory
pushd ${ALEMBIC_WORKING_DIR}

# remove migrations
find ${ALEMBIC_DIR}/versions/ -name "*.pyc" -type f -delete
find ${ALEMBIC_DIR}/versions/ -name "*.py"  -type f -delete

# go into virtualenv
source "${VENV}/bin/activate"

# sync DB scructure
MSG="dbsync : "$(date '+%Y_%m_%d__%H_%M_%S')

DATABASE_URL="${DATABASE_URL}" PYTHONPATH="${SRC_DIR}" alembic revision --autogenerate -m "${MSG}"
DATABASE_URL="${DATABASE_URL}" PYTHONPATH="${SRC_DIR}" alembic upgrade head

# exit from virtualenv
deactivate

# remove hash from DB
SQL='DELETE FROM alembic_version'
# sqlite3 ${PARENT_DIR}/development.db "${SQL}"
psql {{ _database_url }} -c "${SQL}" &> /dev/null

# remove migrations
find ${ALEMBIC_DIR}/versions/ -name "*.pyc" -type f -delete
find ${ALEMBIC_DIR}/versions/ -name "*.py"  -type f -delete

# return working directory
popd